<div class="card">
    <div class="card-header">
        Agregar Empleados
    </div>
    <div class="card-body">
        <form [formGroup]="formEmployee" (ngSubmit)="sendData()">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="" formControlName="name" id="" aria-describedby="helpId"
                    placeholder="Escribe un nombre">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input type="email" class="form-control" name="" formControlName="email" id="" aria-describedby="emailHelpId"
                    placeholder="abc@mail.com">

            </div>

            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-success">Agregar</button>

                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>