<div class="card">
    <div class="card-header">
        Editar Empleado
    </div>
    <div class="card-body">
        <form  ngNativeValidate [formGroup]="formEmployeeEdit" (ngSubmit)="sendDataEdit()">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input required type="text" class="form-control" formControlName="name" name="" id="" aria-describedby="helpId"
                    placeholder="Escribe un nombre">

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input required type="email" class="form-control" formControlName="email" name="" id="" aria-describedby="emailHelpId"
                    placeholder="abc@mail.com">

            </div>

            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="submit" class="btn btn-success">Editar</button>

                <button type="button" routerLink="/list-employee" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>