 img {
     /* background-color: brown; */
     width: 15rem;
     height: 10rem;
     margin-left: 430px;
     border-radius: 45px;
     
 }

 .card-body img {
   background-color: red;
   margin-left: 390px;
}

.card-hover{
    cursor: pointer;
}
 